<div class="content">
  <%= render "shared/top-content" %>
  <%# render "shared/menu-bar" %>
    <%# render "shared/side-bar" %>

    <div class="about">
      <div class="about-title">
        Screpiとは？
      </div>
      <div class="about-explain">
        Screpi（すくれぴ）は、世の中にすでにあるおいしいレシピを<br><br>
        自分のために保存して、<br><br>
        みんなとおすすめしあって、<br><br>
        お気に入りのレシピについてコミュニケーションが取れる場所。
      </div>
      <div class="about-explain">
        Screpiは、<br><br>
        スクラップブックのようにいろんなところから<br><br>
        お気に入りのレシピをあつめて保存ができる、<br><br>
        「Scrap Book」 + 「recipe」のScrepiです。
      </div>
      <div class="about-explain">
        誰かが投稿してくれたおいしそうなレシピをみつけたら、<br><br>
        ぜひそのサイトに行ってレシピを見ましょう！<br><br>
        レシピを開発してくれた方を応援する気持ちを忘れずに。<br><br>
        つくった感想はScrepiでみんなに教えてね。
      </div>
    </div>



  <div class="bottom-content">
    <%= render "shared/bottom-content"%>
  </div>

</div>
