<div class="content">
  <%= render "shared/top-content" %>
  <%= render "shared/menu-bar" %>

  <div class="about">
    <div class="about-title">
      すくれぴとは？
    </div>
    <div class="about-explain">
      Screpi（すくれぴ）は、世の中にすでにあるおいしいレシピを<br>
      自分のために保存して、<br>
      みんなとおすすめしあって、<br>
      お気に入りのレシピについてコミュニケーションが取れる場所。
    </div>
  </div>



  <div class="bottom-content">
    <%= render "shared/bottom-content"%>
  </div>

</div>
