<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Screpi</title>
</head>
<body>
<div class="content">
  <%= render "shared/top-content" %>
  <%= render "shared/menu-bar" %>
  <%= render "shared/side-bar" %>
  <%= render "shared/main-content" %>
</div>
</body>
</html>