<div class="top-content">

  <%# 左上メニュー %>
  <div class="top-right">
    <%= link_to "すくれぴとは？", about_recipes_path, class: "text" %> / 
    <% if user_signed_in? %>
      <%= link_to "ログアウト",  destroy_user_session_path, method: :delete, class: "text" %>
    <% else %>
      <%= link_to "新規登録", new_user_registration_path, class: "text" %>
    <% end %>

  </div>

  <%# ロゴ画像 %>
  <%= link_to image_tag("screpi-logo1.png", class:"top-logo"), "/" %>
  
</div>