// Place all the styles related to the blog_comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$mainColor: rgb(197, 136, 56);
$subColor: rgb(151, 104, 41);
$bgColor: rgb(248, 242, 234);

.blog-show-comments {
  margin-top: 50px;
  width: 100%;

  .comment-title {
    font-size: 26px;
    color: $subColor;
    margin: 5px 0 15px 0;
  }

  .comments {
    margin-bottom: 50px;
    width: 100%;

    .comment-block {
      display: flex;
    }

    .comment {
      position: relative;
      display: block;
      margin: 1em 0 0 20px;
      padding: 20px 20px 10px 20px;
      min-width: 150px;
      max-width: 60%;
      width: 100%;
      color: #555;
      font-size: 16px;
      background: $bgColor;
      border-radius: 10px;

      .blank {
        color: $bgColor;
      }
    }
    
    .comment:before {
      content: "";
      position: absolute;
      top: 50%;
      left: -30px;
      margin-top: -15px;
      border: 15px solid transparent;
      border-right: 15px solid $bgColor;
      
    }

    .comment-date {
      font-size: 9px;
      text-align: right;
    }
    
    
  }

  .comment-add-form {
    background-color: $bgColor;
    padding: 20px 20px 20px 40px;
    border-radius: 30px;
    width: 100%;

    .comment-field {
      height: 30px;
      width: 80%;
      border: 1px solid $mainColor;
    }

    

    .comment-add-button {
      font-size: 16px;
      height: 30px;
      width: 60px;
      color: white;
      background-color: $subColor;
      border: none;
      border-radius: 1ch;

      &:hover {
        cursor: pointer;
      }
    }
  }
}