$mainColor: rgb(197, 136, 56);
$subColor: rgb(151, 104, 41);
$bgColor: rgb(248, 242, 234);

.my-page {
  width: 100%;
}

.my-recipe-head {
  display: flex;
  font-size: 30px;
  margin: 5px 0 20px 0;
  color: $subColor;

  .my-recipe-head-title {
    margin-right: 30px;
  }

  .my-recipe-search {
    margin-bottom: 5px;

    .search-form {
    height: 27px;
    width: 170px;
    border: 1px solid $mainColor;
    border-radius: 5px;
  }
  
    .search-button {
      font-size: 23px;
      color: $mainColor;
      border: none;
      background-color: white;

      &:hover {
        cursor: pointer;

      }
    }
  }
}

.my-recipe {
  border-bottom: 1px dotted $mainColor;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;

  .my-recipe-title {
    padding: 10px 0 10px;
    font-size: 23px;
    margin: 0 0 10px 20px; 
  }
  
  .recipe-link {
    color: $subColor; 
    text-decoration: none;
    
  }

  .my-recipe-url {
    margin: 10px 0;
  }
}