$mainColor: rgb(197, 136, 56);
$subColor: rgb(151, 104, 41);
$bgColor: rgb(248, 242, 234);


// recipes/new

.recipe {
  width: 82%;
  
  .new-title {
    font-size: 30px;
    margin: 5px 0 20px 0;
    color: $subColor;
  }

  .label {
    margin: 10px 0 ;

    &.add-favorite {
      margin: 20px 0 20px 0;
    }
  }

  .new-recipe-form {
    font-size: 23px;
  }

  .new-recipe-form-field {
    height: 26px;
    width: 270px;
    border: 1px solid $mainColor;
    border-radius: 5px;
    margin-bottom: 15px;
    
    &.ingredients-field {
      width: 400px;
    }
  }

  .memo {
    font-size: 16px;
    margin-top: 5px;
  }

  .recipe-add-button {
      font-size: 20px;
      height: 40px;
      width: 130px;
      color: white;
      background-color: $subColor;
      border: none;
      border-radius: 1ch;
      display: block;
      margin: 20px auto 0;
      
      &:hover {
        cursor: pointer;
      }
  }
}

// recipes/show
.recipe-show-block {
  width: 82%;

  .recipe-title {
    font-size: 30px;
    display: block;
    width: 100%;
    margin: 10px 0 10px;
  }
}

.recipe-show-content {
  display: flex;

  &.other {
    display: flex;
    flex-direction: column;
    font-size: 23px;
  }
}


.recipe-show-youtube {
  margin: 20px 30px 20px 0;
}
.recipe-show-youtube-others {
  display: flex;
  flex-direction: column;
  font-size: 23px;
}

.recipe-show-link {
  margin: 20px 0 10px;
  color: $mainColor;
}

.recipe-show-ingredients {
  margin: 10px 0 10px;
}

.recipe-show-effort {
  margin: 10px 0 10px;
}

.username {
  font-size: 16px;
  text-align: right;
}

.recipe-show-admin {
  display: flex;
  justify-content: flex-end;
  margin: 5px 0 10px;
  font-size: 18px;
  
  .edit {
    margin: 1px;
    color: $mainColor;
  }

  .delete {
    color: $mainColor;
    margin: 1px;
  }
}

.recipe-show-main {
  color: $subColor;
  display: block;
  width: 100%;
  background-color: $bgColor;
  margin: 10px 0 10px;
  padding: 30px;
  border: 1px solid $bgColor;
  border-radius: 50px;
}

.communications {
  display: flex;
  justify-content: space-around;
  margin: 80px 60px;
  font-size: 18px;
  
  .communication {
    padding: 20px;
    border: 1px solid $subColor;
    border-radius: 60px;
    background-color: $subColor;
    color: white;

    &:hover {
      cursor: pointer;
    }
  }

  .com-link {
    color: white;
    text-decoration: none;
  }
}

.user_icon {
  font-size: 40px;
  margin-top: 25px;
}



.recipe-show-comments {
  margin: 50px 0px;

  .comment-title {
    font-size: 26px;
    color: $subColor;
    margin: 5px 0 15px 0;
  }

  .comments {
    margin-bottom: 50px;

    .comment-block {
      display: flex;
    }

    .comment {
      position: relative;
      display: block;
      margin: 1em 0 0 20px;
      padding: 20px 20px 10px 20px;
      min-width: 120px;
      max-width: 60%;
      color: #555;
      font-size: 16px;
      background: $bgColor;
      border-radius: 10px;
    }
    
    .comment:before {
      content: "";
      position: absolute;
      top: 50%;
      left: -30px;
      margin-top: -15px;
      border: 15px solid transparent;
      border-right: 15px solid $bgColor;
      
    }

    .comment-date {
      font-size: 9px;
      text-align: right;
    }
    
    
  }

  .comment-add-form {
    background-color: $bgColor;
    padding: 20px 20px 20px 40px;
    border-radius: 30px;

    .comment-field {
      height: 30px;
      width: 80%;
      border: 1px solid $mainColor;
    }

    

    .comment-add-button {
      font-size: 16px;
      height: 30px;
      width: 60px;
      color: white;
      background-color: $subColor;
      border: none;
      border-radius: 1ch;

      &:hover {
        cursor: pointer;
      }
    }
  }
}

  .recipe-show-blogs {
    margin-bottom: 30px;

    .blog-head-title {
      font-size: 26px;
      color: $subColor;
      margin: 5px 0 15px 0;
    }

    .blogs {
      display: flex;
      margin-bottom: 10px;
    }

    .blog-show-link {
      font-size: 23px;
      text-decoration: none;
      margin: 20px 0 10px;
      color: $mainColor;
      margin-right: 20px;
    }

    .blog-date {
      margin-top: 7px;
    }
}